<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279046667742-46dadsuam5h7greteu62mugmi15c1qa7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279046667742-46dadsuam5h7greteu62mugmi15c1qa7</string>
	<key>API_KEY</key>
	<string>AIzaSyA82wpVs6nfkGtnq7bntsDEPZI5j8tV8Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>279046667742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testproject.SimpleVideoApp</string>
	<key>PROJECT_ID</key>
	<string>simplevideoapp-17ce7</string>
	<key>STORAGE_BUCKET</key>
	<string>simplevideoapp-17ce7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279046667742:ios:07473d66cd10e9eeabb14f</string>
	<key>DATABASE_URL</key>
	<string>https://simplevideoapp-17ce7.firebaseio.com</string>
</dict>
</plist>